<div class="plaque index-plaque">
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <a class='index-postButton' href='/post'>Make post</a>
</div>

<div class="post-feed">
  <% posts.forEach(post => { %>
  <%- include('post_card', {post}) %>
  <% }) %>
</div>