<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Ruwudu:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css'>
  <% if (locals.stylesheets) { %>
  <% stylesheets.forEach(stylesheet => { %>
  <link rel='stylesheet' href='/stylesheets/<%= stylesheet %>.css'>
  <% }) %>
  <% } %>
  <title><%= title %></title>
</head>

<body>
  <header>
    <nav>
      <a href='/'>Home</a>
      <% if (locals.currentUser) { %>
      <a href='/profile'>Profile</a>
      <a href='/join'>Join the club</a>
      <a href='/logout'>Log out</a>
      <% } else { %>
      <a href='/login'>Log in</a>
      <a href='/signup'>Sign up</a>
      <% } %>
    </nav>
  </header>

  <div class='content-wrapper'>
    <%- include(`${ejsFile}`) %>
  </div>

  <footer>
    <div>Made by Cutler Sheridan.</div>
    <div>See more <a href='https://cutlersheridan.github.io/portfolio'>here</a>.</div>
  </footer>
</body>

</html>