<div class='post-card'>
  <h2 class='post-title'><%= post.title %></h2>
  <p class='post-content'><%= post.content %></p>
  <% if (currentUser?.isMember || currentUser?.isAdmin) { %>
  <div class='post-divider'></div>
  <div class='card-attribution'>
    <div>Posted by @<%= post.user_info[0].username %></div>
    <div>•</div>
    <div><%= post.formatDate() %></div>
  </div>
  <% } %>
</div>