form {
  width: 80vw;
  max-width: 33rem;
}
.form-group {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.form-control {
  padding: 0.2rem 0.5rem;
}
.form-error {
  color: red;
}
