.index-plaque {
  max-width: 35rem;
  background: var(--clr-1);
  border: 2px solid var(--clr-3);
  color: var(--clr-3);
}
.index-plaque > p:first-of-type {
  margin: 1rem 0;
}
.index-postButton {
  margin: 1.7rem 0;
}
