:root {
  --clr-1: rgb(30, 30, 30);
  --clr-2: rgb(88, 88, 88);
  --clr-3: rgb(242, 242, 242);
  --clr-4: rgb(200, 200, 200);
  font-family: 'Poppins', Helvetica, sans-serif;
  font-size: 62.5%;
  color: var(--clr-1);
  background-color: var(--clr-1);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
}
body {
  height: 100%;
  width: 100%;
  font-size: 1.8rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ruwudu', serif;
  font-weight: 700;
}
h1 {
  margin-bottom: -1.5rem;
  font-size: 3.2rem;
}
a,
button {
  padding: 0.3rem 0.5rem;
  background: var(--clr-3);
  color: var(--clr-1);
  text-decoration: none;
  border: none;
  cursor: pointer;
}
a:hover,
button:hover {
  background: var(--clr-4);
}
@media only screen and (touch: touch) {
  a:hover,
  button:hover {
    background: var(--clr-3);
  }
  a:active,
  button:active {
    background: var(--clr-4);
  }
}

/* NAVBAR START */
nav {
  padding: 0 1rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.6rem;
}
@media only screen and (min-width: 600px) {
  nav {
    justify-content: flex-end;
    font-size: 1.8rem;
  }
}
nav > a {
  background: var(--clr-3);
  color: var(--clr-1);
}
nav > a:hover {
  background: var(--clr-4);
}
@media only screen and (touch: touch) {
  nav > a:hover {
    background: var(--clr-3);
  }
  nav > a:active {
    background: var(--clr-4);
  }
}
/* NAVBAR END */

/* FOOTER START */
footer {
  padding: 1.5rem;
  font-size: 1.4rem;
  font-family: monospace;
  color: var(--clr-3);
}
@media only screen and (min-width: 600px) {
  footer {
    padding: 1.5rem 3rem;
  }
}
footer a {
  margin: 0;
  padding: 0;
  background: inherit;
  color: inherit;
  text-decoration: underline;
}
footer a:hover {
  background: inherit;
  color: var(--clr-4);
}
/* FOOTER END */

.content-wrapper {
  margin: 3rem auto;
  min-height: calc(100vh - 18rem);
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.plaque {
  margin: 0 1.5rem 0 1.5rem;
  padding: 1.5rem 2.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--clr-1);
  background: var(--clr-3);
}
.plaque > p {
  text-align: center;
}
.plaque a,
.plaque button {
  margin-top: 1rem;
  background: var(--clr-1);
  color: var(--clr-3);
}
.plaque a:hover {
  background: var(--clr-2);
}
@media only screen and (touch: touch) {
  .plaque a:hover {
    background: var(--clr-1);
  }
  .plaque a:active {
    background: var(--clr-2);
  }
}
