:root {
  font-size: 62.5%;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
}
body {
  height: 100%;
  width: 100%;
  font-size: 2rem;
}

.content-wrapper {
  margin: auto;
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
